# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "TheCloudvops - Blog personal sobre DevOps y Cloud"
email: contact@thecloudvops.com
description: >- # this means to ignore newlines until "baseurl:"
  Blog personal sobre DevOps, Cloud Computing y tecnología. Tutoriales, experiencias y recursos para aprender juntos sobre Azure, Terraform, Kubernetes y más.
github_username: AZAlberto
url: "https://thecloudvops.com"
baseurl: "/thecloudvops-dev"
logo: "/assets/images/logo/logo.png"
og_image: "/assets/images/logo/site-logo.png"
header:
  image: "/assets/images/layout/header-bg.jpg"
footer:
  image: "/assets/images/layout/footer-bg.jpg"
social:
  type: Person
  name: Alberto Ventura
  links:
    - "https://linkedin.com/in/alberto-ventura-662996166"
    - "https://github.com/thecloudvops"
    - "https://instagram.com/alberto_ventu94"
minimal_mistakes_skin: "air" # "default", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
search: true


# Build settings
markdown: kramdown
theme: jekyll-theme-cayman
# Outputting
permalink: /blog/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: Europe/Madrid
future: false  # No mostrar posts con fecha futura
show_drafts: false  # No mostrar drafts en producción
sidebar: false

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Alberto Ventura"
  avatar : "/assets/images/bio-photo.jpg"
  bio    : "Apasionado de la tecnología y el aprendizaje continuo. Comparto mis experiencias y conocimientos sobre DevOps, Cloud Computing y desarrollo de software."
  links:
    - label: "Linkedin"
      icon: "fas fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/alberto-ventura-662996166/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/thecloudvops"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://www.instagram.com/alberto_ventu94/#"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/thecloudvops"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://www.instagram.com/alberto_ventu94/#"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
